beautifulsoup4
markdownify
requests
httpx
groq
sentence-transformers
faiss-cpu
rank-bm25
python-dotenv
pdfplumber
selenium
webdriver-manager
openai
streamlit
pandas
st-gsheets-connection
gspread
google-auth
apify-client
